body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 80;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 20px;

}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 40%;
}

img {
    max-width: 100%;
    margin-top: 40%;
}
